*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;     
}
body{
    background:#000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
} 
.sign:hover{
    background-color:rgb(243, 46, 46);
}

nav button{
    border: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size:12px;
    border-radius: 4px;
    cursor: pointer;
    
    margin-left: 10px;

    

}
.language{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
    
}
.language img{
    width: 10px;
    margin-left: 10px;
}
.text-content{
    position:absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.text-content h1{
    font-size: 3rem;
    line-height: 70px;
    font-weight: 900;
    max-width: 1000px;
    
}
.text-content h3{
    font-size: 370;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16;
    cursor: pointer;
    padding: 15px 30px;
}

/*--------features----------*/
.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
/*-----------faq----------*/
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.accord{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accord li{
    list-style: none;
    width: 100%;
    padding: 5px;

}
.accord li label{
    display:flex ;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background:rgb(15,17,24);
    margin: bottom 2px; 
    cursor: pointer;
    position: relative;

}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;

}
input[type="radio"]{
    display: none;
}
.accord .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accord input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accord input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto;

}
.faq small{
    font-size: 13px;
}
/*------------------footer------------*/

.footer{
    width: 100%;
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color:#777;
    border-bottom: 8px;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color:#fff;
    background-color:rgba(32, 31, 31, 0.7);
    border-radius: 5px;
    border-color: white;
    padding: 5px 5px ;
    width: 15%;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.language-btn img{
        width: 10px;
        margin-left: 10px;
}
hr{
    width: 100%;
    border-color: #333;
    
}

